*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(250, 250, 254);
}

.raleway-font{
  font-family: "Raleway";
  font-optical-sizing: auto;
  font-weight: bold;
  font-style:normal;
  font-size: 80px;
  margin-top: 260px;
  margin-right: 267.5px;
  margin-bottom: 152px;
  margin-left: 267.5px;
  text-align: center;
}
.inter-font, .sec-title{
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style:  normal;
 color: blue;
 font-weight: bolder;
 font-size: 60px;
}

.onlyV
{
    color: brown;
    
}
header {
    background-image: url('Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: rgb(0, 0, 0);
    display: block;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

.sign-up,.sec-btn,.p1{
    background-color:#4E47FF ;
    font-weight: bold;
    font-size:23px ;
    align-items: center;
    display: block;
    border: none;
    color: #FFFFFF;
    padding: 13px 20px;
    cursor: pointer;
    border-radius: 12px;

}
.Staybtn {
    padding: 20px 35px;
    font-size: 26px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-top: -100px;
    font-weight: bold;
}
.banner {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    justify-content: center;         
    text-align: center;
    gap: -10px;               
}
.second{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1000px;
    gap: 220px;
}
.image{
    border: none;
    border-radius: 50px;
}
.title{
    margin-top: -420px;
    margin-left: 2px;
    
}
.sec-title{
    font-weight: bold;
    font-size: 55px;
    color: black;
}
.sec-para{
   text-align: left;
    font-size: 30px;
    color: darkgray;
    font-weight: lighter;
    gap: 40px;
  
}

main{
    max-width: 1140px;
    margin:0 auto;
}
 main section
 {
    margin-top: 130px;
    margin-bottom: 130px;
 }

.pro-font{
    font-size: 50px;
}
 .productive{
    background-color: #c7c2fb;
    border-radius: 20px;
    padding: 50px 50px;
    text-align: center;
    margin-top: 300px;
    margin-left: 150px;
 }

 .users ul {
    text-align:  center;
    font-size: 80px;
    list-style: none;
    display: flex;
    font-weight: bolder;
    justify-content: space-around;
    color: #4c00ff;
 }
 .p1{
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    color: #000000;
    background-color: #FFFFFF;
    margin: 20px;
    

    
 }
.says{
    padding: 30px;
    border-radius: 5px ;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    text-align: center;
}
.container{
    display: flex;
    gap: 30px;
}
.card{
    gap: 24px;
    border-radius: 15px;
    padding: 60px;
    
}
.angelina{
    border-radius: 15px;
    margin: 20px;
}
.cmnt{
    font-size: 40px;
    font-weight: bold;
    
}
.Ready{
    text-align: center;
     padding: 50px;
    border-radius: 20px ;
    box-shadow: 0px 6px 50px 0px rgba(0,0,0,0.06);
    justify-content: space-between;
}
.reimg{
    border-radius: 40px;
    padding: 20px;
}
.start{
     background-color:#4E47FF ;
    font-weight: bold;
    font-size:20px ;
    align-items: center;
    text-align: center;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 12px;

}

.focus{
    font-size: 50px;
    font-weight: bolder;
    margin: 20px;
}
.tem{
    font-size: 16px;
    font-weight: lighter;
    margin: 20px;
}
.forma{
    width: 50%;
    padding: 130px 230px;
    display: flex;
    gap: 120px;
}
div input[type="text"],div input[type="email"],div textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
   
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
label{
    margin: 8px;
}
.get{
    font-size: 70px;
    margin-left: -100px;
}
.mahfuj{
    margin-left:400px;
}

.under{
    padding: 100px;
    border-radius: 5px ;
    box-shadow: 0px 6px 50px 0px rgba(232, 232, 232, 0.06);
    text-align: center;
    background-color: #FFFFFF;
}
.deco
{
    list-style-type: none;
    display: flex;
    gap: 30px;
    text-align: center;
    margin-left: 670px;
    margin-top: 90px;
    font-weight: lighter;
    font-size: 20px;
}
.foottilte
{
    margin: 60px 50px;
    font-size: 80px;
    color: blue;
}
.para-foot{
    margin: -60px;
}
.touchbtn{
     padding: 14px 20px;
    font-size: 22px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-top: -100px;
    font-weight: bold;
}