*{
    margin: 50;
    padding: 50;
}

.raleway-font{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style:normal;
  font-size: 80px;
  margin-top: 260px;
  margin-right: 267.5px;
  margin-bottom: 152px;
  margin-left: 267.5px;
  text-align: center;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 99;
  font-style:  normal;
 color: blue;
 font-weight: bolder;
 font-size: 40px;
}

.onlyV
{
    color: brown;
    
}
header {
    background-image: url('Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: rgb(0, 0, 0);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

.sign-up{
    background-color:#4E47FF ;
    font-weight: bold;
    font-size:23px ;
    align-items: center;
    display: block;
    border: none;
    color: #FFFFFF;
    padding: 13px 20px;
    cursor: pointer;
    border-radius: 12px;

}
.Staybtn {
    padding: 20px 35px;
    font-size: 26px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-top: -100px;
    font-weight: bold;
}
.banner {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    justify-content: center;         
    text-align: center;
    gap: -10px;               
}

