*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(250, 250, 254);
}

.raleway-font{
  font-family: "Raleway";
  font-optical-sizing: auto;
  font-weight: bold;
  font-style:normal;
  font-size: 80px;
  margin-top: 260px;
  margin-right: 267.5px;
  margin-bottom: 152px;
  margin-left: 267.5px;
  text-align: center;
}
.inter-font, .sec-title, .sec-para{
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: bolder;
  font-style:  normal;
 color: blue;
 font-weight: bolder;
 font-size: 60px;
}

.onlyV
{
    color: brown;
    
}
header {
    background-image: url('Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: rgb(0, 0, 0);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}

.sign-up,.sec-btn,.p1{
    background-color:#4E47FF ;
    font-weight: bold;
    font-size:23px ;
    align-items: center;
    display: block;
    border: none;
    color: #FFFFFF;
    padding: 13px 20px;
    cursor: pointer;
    border-radius: 12px;

}
.Staybtn {
    padding: 20px 35px;
    font-size: 26px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    margin-top: -100px;
    font-weight: bold;
}
.banner {
    display: flex;
    flex-direction: column; 
    align-items: center;     
    justify-content: center;         
    text-align: center;
    gap: -10px;               
}
.second{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1000px;
    gap: 220px;
}
.image{
    border: none;
    border-radius: 50px;
}
.title{
    margin-top: -420px;
    margin-left: 2px;
    
}
.sec-title{
    font-weight: bold;
    font-size: 55px;
    color: black;
}
.sec-para{
   text-align: left;
    margin top: -30px;
    font-size: 30px;
    color: darkgray;
    font-weight: lighter;
  
}
main{
    max-width: 1140px;
    margin:0 auto;
}
 main section
 {
    margin-top: 130px;
    margin-bottom: 130px;
 }

.pro-font{
    font-size: 50px;
}
 .productive{
    background-color: #c7c2fb;
    border-radius: 20px;
    padding: 10px 10px;
    text-align: center;
    margin-top: 130px;
    margin-left: 150px;
 }

 .users ul {
    text-align:  center;
    font-size: 80px;
    list-style: none;
    display: flex;
    font-weight: bolder;
    justify-content: space-around;
    color: #4c00ff;
 }
 .p1{
    font-size: 16px;
    font-weight: bold;
    border-radius: 12px;
    color: #000000;
    background-color: #FFFFFF;
    margin: 20px;
    

    
 }